*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
  font-weight: normal;
}

:root {
  --resolution: attr(data-resolution);
}
body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, #0d2b3a, #75061e);
  background-image: url('https://picsum.photos/id/10/2500/1667');
  background-repeat: fixed;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.control-panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: slategray;
  margin-bottom: 1rem;
}

.control-panel > button {
  padding: 1rem 1.5rem;
  background-color: rgba(65, 105, 225, 0.445);
}

.control-panel > legend {
  font-weight: 800;
}

.control-panel > input {
  width: 8ch;
}

[data-new] {
  margin-left: 0.5rem;
}

button {
  /* margin: auto; */
  display: flex;
  
  display: block;
 
}

/* [data-clear], [data-new] {
  background-color: rgba(65, 105, 225, 0.445);
} */

.cell-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 80vh;
}

.cell-grid > button {
  background: rgb(0, 0, 0);
}
.cell-grid > button:hover {
  background: rgba(0, 0, 0, 0.75);
  outline-style: solid;
  outline-color: red;
  outline-offset: -2px;
}

.cell-grid > button.dead {
  background: rgb(241, 240, 240);
}
.cell-grid > button.dead:hover {
  background: rgba(255, 255, 255, 0.33);
}
